<div class="container-fluid">
  <header class="jumbotron">
    <h1 class="header-text">
       Example of Data Binding
    </h1>
</header>
<!-- service-->

<div class="container">

<b> 1- Interpolation Binding : On basis of this curly braces decided where must bind the value in template</b>

<br/>
<!-- this name value bind from component-->
<h1> Hi : {{name}}</h1>

<br/>

<b>2-  Two-way binding :component <-> Template</b> <br/>
<!-- prasented by [(target)]-->
<br/>
Enter Name - <input type="text" [(ngModel)] ="name" name="name">

<br/><br/>

<b> 3- Property Binding : Bind value of HTML element Property (like img, value, class, style etc.) from component to Template.</b>
<br/>
Enter Address - <input type="text" [disabled] ="disabled" name="address">


<br/><br/>

<b>4: Event Binding : when create event in template file then bind value from template to component</b>
<br/>

<button (click) = "transferDatatoComp()">Click On Button</button>



<div>
  <ul>
  <li [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">test1</li>
  <li [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">test2</li>
  <li [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">test3</li>
  <li [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">test4</li>
  </ul>
  </div>



</div>